.BigActiveStepNumberDisplay {
  background: #f9f9f9;
  color: #8b8d8f;
  min-width: 300px;
}

.BigActiveStepNumberDisplay .display-header {
  font-size: 18px;
  font-weight: bold;
  color: #72767B;
  text-transform: uppercase;
  padding: 15px 0 0 35px;
}

.BigActiveStepNumberDisplay .display-subtext {
  font-size: 18px;
  color: #8B8D8F;
  padding: 5px 0 0 35px;
}
