.NextStepButton {
  border: none;
  height: 40px;
  width: 90px;

  display: flex;
  align-items: center;
  justify-content: space-around;

  background-color: #00659C;
  color: #FFFFFF;
  cursor: pointer;
}

.NextStepButton:hover {
  background-color: #00B9F7;
}

.NextStepButton:focus {
  outline: 0;
}

.NextStepButton.last-step {
  background-color: #6ec664;
  width: 130px;
}

.NextStepButton.last-step:hover {
  background-color: #7ecc75;
}

.NextStepButton:disabled,
.NextStepButton:disabled:hover {
  background: #375667;
  color: #999999;
  cursor: not-allowed;
}

.NextStepButton .button-arrow {
  font-size: 20px;
}
.NextStepButton .button-label {
  font-size: 16px;
  line-height: 17px;
}
