

.PersonaStepsList .info-message {
    text-align: center;
}

.PersonaStepsList .PersonaStepsListItem {
    margin: 20px 30px;
    position: relative;
    cursor: pointer;
}

.PersonaStepsList .PersonaStepsListItem.active {
    color: #00B9F7;
}

.PersonaStepsList .PersonaStepsListItem.active:before {
    content: "\F105";
    font: normal normal normal 14px/1 FontAwesome;
    font-size: 20px;
    position: absolute;
    right: calc(100% + 10px);
    top: calc(50% - 0.6em);
}
