.StepContent {
  color: #FFFFFF;
  padding: 10px;
}


.StepContent .step-title  {
  text-align: center;
}

.StepContent .PseudoCheckbox {
  float: right;
}

.StepContent .bullets .step-bullet {
  margin-bottom: 20px;
}
