.StepContent {
  color: #FFFFFF;
  padding: 20px;
}


.StepContent .step-title  {
  text-align: left;
}
/*
.StepContent .PseudoCheckbox {
  float: right;
}
*/

.StepContent .bullets {
  padding-left: 15px;
}

.StepContent .bullets .step-bullet {
  margin-bottom: 20px;
}