.TabbedStepContent {
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: stretch;
  justify-content: space-between;
}

.TabbedStepContent .tab-buttons-row {
  display: flex;
  align-items: stretch;
  min-height: 80px;
}
.TabbedStepContent .tab-buttons-row .tab-button {
  display: flex;
  align-items: center;
  justify-content: center;
  min-width: 270px;
  border-bottom: 1px solid #D1D1D1;
  border-right: 1px solid #D1D1D1;
  cursor: pointer;
  flex-grow: 1;
}
.TabbedStepContent .tab-buttons-row .tab-button .tab-button-icon {
  color: #8B8D8F;
  font-size: 18px;
}
.TabbedStepContent .tab-buttons-row .tab-button .tab-button-label {
  color: #192941;
  font-size: 18px;
  font-weight: bold;
  margin-left: 10px;
}

.TabbedStepContent .tab-buttons-row .tab-button.active {
  border-bottom: none;
  background: #ffffff;
}

.TabbedStepContent .tab-buttons-row .tab-button.active .tab-button-label,
.TabbedStepContent .tab-buttons-row .tab-button:hover .tab-button-label {
  color: #15AAF5;
}

.TabbedStepContent .tab-buttons-row .tab-button.disabled {
  cursor: not-allowed;
}
.TabbedStepContent .tab-buttons-row .tab-button.disabled .tab-button-icon,
.TabbedStepContent .tab-buttons-row .tab-button.disabled .tab-button-label,
.TabbedStepContent .tab-buttons-row .tab-button.disabled:hover .tab-button-label {
  color: #bfbfbf;
}

.TabbedStepContent .tab-content {
  flex-grow: 2;
  background: #ffffff;
  padding: 20px;
}

.TabbedStepContent .tab-content .tab-header-step-number {
  color: #787A7C;
  font-size: 18px;
  font-weight: normal;
}
.TabbedStepContent .tab-content .tab-header-step-title {
  color: #192941;
  font-size: 24px;
  font-weight: bold;
  margin-top: 10px;
}

.TabbedStepContent .tab-content .tab-body {
  margin-top: 30px;
  font-size: 18px;
}

.TabbedStepContent .tab-content .tab-body .bullet-list {
  padding-left: 20px;
}

.TabbedStepContent .tab-content .tab-body .bullet-list li {
  margin-bottom: 20px;
}
