.FloatingButton {
  background-color: #00B9F7;
  color: #FFFFFF;
  cursor: pointer;

  display: flex;
  align-items: center;
  justify-content: center;

  width: 30px;
  height: 30px;
  border-radius: 50%;
  user-select: none;
}
