.CloseButton {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 80px;
  height: 80px;

  background: #203753;
  color: #ffffff;
  border-left: 1px solid #5f748f;
  cursor: pointer;
}

.CloseButton:hover {
  color: #00b9f7;
}

.CloseButton .fa {
  font-size: 20px;
}
