.Popup {
  position: sticky;
  top: 0;
  right: 100%;
  background: #152437;
  color: #FFFFFF;
  overflow: auto;
  max-height: 90vh;
  min-height: 100%;
  z-index: 500;
}

.Popup.popup-cover {
display: block;
margin: 0 0 322px 0;
right: 0;
height: 400px;
}
