.Popup {
  position: -webkit-absolute;
  position: absolute;
  right: 100%;
  background: #152437;
  color: #FFFFFF;
  z-index: 500;
}

.Popup.popup-cover {
  display: block;
  height: 400px;
  width: 100%;
  right: 0;
  bottom: 0;
}
