html, body, #root, .App {
  height: 100%;
  padding: 0;
  margin: 0;
}

.App {
  display: flex;
  font-family: 'Lato', sans-serif;
}


.App .tabbed-viewport {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
}

.App .ControlWidget,
.App .ControlWidgetMini,
.App .PersonaTabs {
  display: none;
}

.App[data-display-mode="CONTROL_WIDGET"] .ControlWidget {
  display: flex;
}

.App[data-display-mode="CONTROL_WIDGET_MINI"] .PersonaTabs,
.App[data-display-mode="CONTROL_WIDGET_MINI"] .ControlWidgetMini {
  display: block;
}
