html, body, #root, .App {
  height: 100%;
  padding: 0;
  margin: 0;
  overflow: hidden;
}

.App {
  display: flex;
  font-family: 'Lato', sans-serif;
}

.App[data-display-mode="CONTROL_WIDGET_MINI"] .ControlWidgetMini {
  right: 5px;
  transition: right 1s;
}

.App .ViewPort {
  transition: min-width 500ms;
  min-width: 100%;

}
.App[data-display-mode="CONTROL_WIDGET"] .ViewPort {
  transition: min-width 500ms;
  min-width: calc(100% - 300px);
}
