

.ControlPage .PrevStepButton,
.ControlPage .NextStepButton {
  height: 60px;
  background-color: #203753;
}
.ControlPage .PrevStepButton:hover,
.ControlPage .NextStepButton:hover {
  background-color: #00B9F7;
}
.ControlPage .NextStepButton {
  width: 180px;
}
.ControlPage .PrevStepButton {
  width: 80px;
}

.ControlPage .PrevStepButton .button-label{
  display: none;
}

.ControlPage .PrevStepButton:disabled,
.ControlPage .NextStepButton:disabled {
  background: transparent;
  color: #5F6368;
  border: 1px solid #8B8D8F;
}
