.ControlPage {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.ControlPage .white-area {
  background: #ffffff;
}

.ControlPage .grey-area {
  background: #F9F9F9;
}

.ControlPage .icon-label {
  display: flex;
  align-items: center;
}
.ControlPage .icon-label .icon {
  color: #8B8D8F;
}
.ControlPage .label {
  color: #192941;
  font-size: 18px;
  font-weight: bold;
  margin-left: 10px;
}

.ControlPage .layout-header {
  display: flex;
  align-items: center;
  min-height: 80px;
  padding-left: 20px;
}


.ControlPage .header {
  display: flex;
  justify-content: space-between;
  background: #203753;
  color: #ffffff;

  height: 80px;
}

.ControlPage .header-left,
.ControlPage .header-right {
  display: flex;
}

.ControlPage .main-content {
  background: #f9f9f9;
  color: #8b8d8f;
  flex-grow: 1;
  position: relative;
}

.ControlPage .header .PersonaDropdownLarge {
  border-left: 1px solid #5f748f;
}

.ControlPage .steps-header {
  border-bottom: 1px solid #d1d1d1;
  height: 80px;
}

.ControlPage .font-header-title {
  font-size: 18px;
  font-weight: bold;
  padding: 15px 0 0 20px;
  color: #5F6368;
}

.ControlPage .font-header-subtitle {
  font-size: 16px;
  font-weight: normal;
  padding: 5px 0 0 20px;
  color: #787A7C;
}

.ControlPage .layout-row {
  display: flex;
  align-items: stretch;
}

.ControlPage .layout-col-2 {
  flex-grow: 2;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: stretch;
  justify-content: space-between;
}

.ControlPage .layout-col-2 .TabbedStepContent{
  flex-grow: 2;
}

.ControlPage .layout-col-3 {
  background: #ffffff;
}

.ControlPage .notes-section {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;
  width: 100%;
}

.ControlPage .footer-controls-section {
  display: flex;
  justify-content: space-between;
  min-height: 80px;
  max-height: 80px;
  background: #f9f9f9;
  color: #8b8d8f;
  border-top: 1px solid #D1D1D1;
}

.ControlPage .footer-controls-section .step-control-buttons {
  display: flex;
  margin-top: 10px;
  margin-right: 20px;
}

.ControlPage .footer-controls-section .step-control-buttons .NextStepButton {
  margin-left: 5px;
}

.ControlPage .NotesList {
  flex-grow: 2;
}
.ControlPage .add-notes-section {
  display: flex;
  align-items: center;
}

.ControlPage .new-note-popup  {
  display: flex;
  flex-direction: column;
}

.ControlPage .new-note-popup .NewNoteForm  {
  flex-grow: 1;
}


.ControlPage ::-webkit-scrollbar {
  width: 8px;
}

.ControlPage ::-webkit-scrollbar-track {
  border-radius: 8px;
  background-color: #EDEDED;
}

.ControlPage ::-webkit-scrollbar-thumb {
  width: 6px;
  margin-left: 1px;
  border-radius: 6px;
  background-color: #bbbbbb;
  box-shadow: none;
}
