.ControlPage {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.ControlPage .header {
  display: flex;
  justify-content: space-between;
  background: #203753;
  color: #ffffff;

  min-height: 80px;
}

.ControlPage .header-left,
.ControlPage .header-right {
  display: flex;
}


.ControlPage .small-row {
  background: #f9f9f9;
  color: #8b8d8f;
  border-bottom: 1px solid #d1d1d1;

  min-height: 80px;
}

.ControlPage .main-content {
  background: #f9f9f9;
  color: #8b8d8f;

  flex-grow: 1;
}

.ControlPage .header .PersonaDropdownLarge {
  border-left: 1px solid #5f748f;
}
