.BigTimer {
  background: #DEF3FF;
  color: #8B8D8F;

  min-width: 300px;
  position: relative;
}

.BigTimer .timer-content {
  position: relative;
  left: 45px;
  top: 15px;
}

.BigTimer .timer-header {
  color: #72767B;
  font-size: 18px;
  font-weight: bold;
  text-transform: uppercase;
}
.BigTimer .timer-time {
  color: #00B9F7;
  font-size: 18px;
}

.BigTimer.warning {
  background: #ffffe0;
}
.BigTimer.warning .timer-time {
  color: orange;
}

.BigTimer.danger {
  background: #ffe0e0;
}
.BigTimer.danger .timer-time {
  color: red;
}


.BigTimer .timer-subtext {
  font-size: 13px;
}

.BigTimer .timer-icon {
  position: absolute;
  top: 15px;
  left: 15px;

  font-size: 19px;
}

.BigTimer .timer-controls {
  position: absolute;
  top: 15px;
  right: 15px;

  font-size: 16px;
}

.BigTimer .timer-controls .timer-btn {
  margin-left: 5px;
  cursor: pointer;
}
.BigTimer .timer-controls .timer-btn:hover {
  color: #00B9F7;
}
