.BigTimer {
  display: flex;
  justify-content: space-around;
  align-items: center;

  background: #203753;
  color: #ffffff;
  border-left: 1px solid #5f748f;
  min-width: 200px;
  position: relative;
}

.BigTimer .timer-time {
  color: #00B9F7;
  font-size: 30px;
  font-weight: 300;
}

.BigTimer.warning .timer-time {
  color: orange;
}

.BigTimer.danger .timer-time {
  color: red;
}

.BigTimer .timer-icon {
  font-size: 19px;
}

.BigTimer .timer-btn {
  margin-left: 5px;
  cursor: pointer;
}
.BigTimer .timer-btn:hover {
  color: #00B9F7;
}

.BigTimer .timer-icon-group {
  position: relative;
  cursor: pointer;
}

.BigTimer .timer-icon-group:hover {
  color: #00B9F7;
}

.BigTimer .timer-icon-group .time-type-icon {
  position: absolute;
  display: block;
  bottom: -10px;
  right: -10px;
}
