.HorizontalDemoList {
  background: #203753;
  color: #ffffff;
  display: flex;
  flex-basis: 10;
}

.HorizontalDemoList .HorizontalDemoListItem {
  border-right: 1px solid #5f748f;
  height: 80px;
  min-width: 120px;
  padding: 0 20px;
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  position: relative;
  user-select: none;
}
.HorizontalDemoList .HorizontalDemoListItem:first-child {
  border-left: 1px solid #5f748f;
}
.HorizontalDemoList .HorizontalDemoListItem:hover {
  color: #00b9f7;
}
.HorizontalDemoList .HorizontalDemoListItem.active:after {
  content: " ";
  position: absolute;
  height: 7px;
  width: 100%;
  bottom: 0;
  left: 0;
  background: #00b9f7;
}

.HorizontalDemoList .HorizontalDemoListItem .demo-title {
  font-size: 16px;
  font-weight: bold;
  text-transform: uppercase;
}

.HorizontalDemoList .HorizontalDemoListItem .demo-subtitle {
  font-size: 14px;
}

.HorizontalDemoList .control-btn {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 80px;
  width: 60px;
  border-right: 1px solid #5f748f;
  border-left: 1px solid #5f748f;
  font-size: 20px;
  color: #546986;
}
