
.ControlWidgetMini {
    position: fixed;
    bottom: 20px;
    z-index: 4000;
    right: -200px;
    transition: right 1s;
}

.ControlWidgetMini .personas-list {
    position: relative;

    display: flex;
    flex-direction: column;
    align-items: center;
}

.ControlWidgetMini.minimized {
    right: 5px;
    transition: right 1s;
}

.ControlWidgetMini .personas-list .PersonaListItem {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 4px 0;
}

.ControlWidgetMini .personas-list .PersonaListItem > .persona-wrapper {
    min-height: 66px;
    min-width: 250px;

    display: flex;
    justify-content: flex-start;
    align-items: center;

    cursor: pointer;

    background: rgba(255, 255, 255, .8);
    border-radius: 35px / 49%;
    color: #152437;
}

.ControlWidgetMini .personas-list .PersonaListItem > .persona-wrapper .label-sect {
    flex-grow: 2;
}


.ControlWidgetMini .personas-list:hover .PersonaListItem.active .label,
.ControlWidgetMini .personas-list .PersonaListItem .label {
    min-width: 120px;
    word-wrap: break-word;
    margin-left: 10px;
    cursor: pointer;
}

.ControlWidgetMini .personas-list:hover .PersonaListItem.active,
.ControlWidgetMini .personas-list .PersonaListItem {
    opacity: .3;
    transition: opacity 300ms;
}

.ControlWidgetMini .personas-list .PersonaListItem.active,
.ControlWidgetMini .personas-list:hover .PersonaListItem:hover {
    opacity: 1;
    transition: opacity 300ms;
}


.ControlWidgetMini .FloatingButton.close-btn {
    margin-top: 10px;
    margin-left: 18px;
}
.ControlWidgetMini .FloatingButton.hamburger-btn {
    margin-bottom: 10px;
    margin-left: 18px;
}



.ControlWidgetMini.collapsed .FloatingButton {
    opacity: 0;
    transition: opacity 350ms;
    margin-right: 10px;
}
.ControlWidgetMini.collapsed .PersonaAvatar {
    opacity: .2;
    transition: opacity 350ms;
}

.ControlWidgetMini.collapsed:hover .FloatingButton {
    opacity: 1;
    transition: opacity 350ms;
}

.ControlWidgetMini.collapsed:hover .PersonaAvatar {
    opacity: 1;
    transition: opacity 350ms;
}
