.AddNoteButton {
  cursor: pointer;
  color: #8b8d8f;
  margin-left: 20px;
}

.AddNoteButton .btn-label {
  margin-left: 10px;
  font-size: 14px;
}

.AddNoteButton .fa {
  font-size: 14px;
}

.AddNoteButton:hover {
  color: #00b9f7;
}

.add-notes-section {
 position: absolute;
 bottom: 0;
 width: 100%;
}
