.AddNoteButton {
  cursor: pointer;
  color: #8b8d8f;
}

.AddNoteButton .btn-label {
  margin-left: 10px;
  font-size: 14px;
}

.AddNoteButton .fa {
  font-size: 14px;
}

.AddNoteButton:hover {
  color: #00b9f7;
}
