.NewNoteForm {
  display: flex;
  flex-direction: column;
  align-items: stretch;
}

.NewNoteForm .input-group {
  display: flex;
  flex-direction: column;
  align-items: stretch;
  margin: 10px;
}

.NewNoteForm .input-group .form-label {
  width: 100%;
  height: 100%;
  display: block;

  color: #5F6368;
  font-size: 16px;
  font-weight: bold;
  margin-bottom: 10px;
}

.NewNoteForm .text-input-group {
  flex-grow: 1;
}

.NewNoteForm .text-input-group #NewNoteForm_note-text {
  flex-grow: 1;
}

.NewNoteForm .bottom-row {
  min-height: 80px;
  padding-left: 30px;
  display: flex;
  align-items: center;
}
