.NotesList {
  background: #ffffff;
}

.NotesListItem {
  margin: 0 10px;
  padding: 10px;
  position: relative;
  background: #ffffff;
}

.NotesListItem:not(:first-child) {
  border-top: 1px solid #d1d1d1;
}

.NotesListItem .title-label {
  color: #5F6368;
  font-size: 16px;
  font-weight: bold;
}


.NotesListItem .text-label {
  color: #5F6368;
  font-size: 13px;
  line-height: 20px;
  margin-top: 10px;
}

.NotesListItem .sort-handle {
  position: absolute;
  top: 10px;
  right: 10px;
  padding: 2px 4px;

  font-size: 13px;
  color: #72767B;
  cursor: move;
}
