.ControlWidget {
    background: #203753;
    min-width: 300px;
    width: 300px;

    box-shadow: -8px 0 20px 0 rgba(0, 0, 0, 0.5);
    z-index: 5000;

    transition: width 500ms;

    display: flex;
    flex-direction: column;
}

.ControlWidget.minimized {
    width: 0;
    min-width: 0;
    overflow: hidden;
}

.ControlWidget > * {
    transition: opacity 800ms;
}
.ControlWidget.minimized > * {
    opacity: 0;
    transition: opacity 300ms;
}

.ControlWidget header {
    height: 180px;
    min-height: 180px;
    border-bottom: 1px solid #5F748F;
    position: relative;

    display: flex;
    justify-content: center;
    align-items: center;
}


.ControlWidget .toolbar {
    position: absolute;
    top: 0;
    left: 0;
}

.ControlWidget .tool-btn {
    display: block;
    background: #152437;
    color: #FFFFFF;
    border: none;
    
    width: 60px;
    height: 60px;
    font-size: 20px;
    cursor: pointer;
}

.ControlWidget .tool-btn.active {
    color: #00B9F7;
}


.ControlWidget .tool-btn:not(:first-child) {
    border-top: 1px solid #5F748F;
}

.ControlWidget .tool-btn:not(.active) {
    border-left: 1px solid #5F748F;
}


.ControlWidget .side-popup-title {
    text-transform: uppercase;
    text-align: center;
    padding: 10px 0;
    font-size: 20px;
}

.ControlWidget .step-content {
    flex-grow: 2;
    color: #FFFFFF;
    text-align: center;
    padding: 10px;
    overflow: auto;
}