
.MiniControlWidget {
    position: fixed;
    bottom: 20px;
    z-index: 4000;
    right: -200px;
    transition: right 1s;
}

.MiniControlWidget .personas-list {
    position: relative;

    display: flex;
    flex-direction: column;
    align-items: center;
}

.MiniControlWidget.minimized {
    right: 5px;
    transition: right 1s;
}

.MiniControlWidget .button-wrapper {
    position: absolute;
    width: 100%;
    text-align: center;
    bottom: -30px;
}

.MiniControlWidget .close-btn-wrapper {
    margin-left: 56px;
    margin-top: 15px;
}


.MiniControlWidget .personas-list .persona-row {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 4px 0;
}

.MiniControlWidget .personas-list .persona-row > .persona-wrapper {
    min-height: 66px;
    min-width: 250px;

    display: flex;
    justify-content: flex-start;
    align-items: center;

    cursor: pointer;

    background: rgba(255, 255, 255, .8);
    border-radius: 35px / 49%;
    color: #152437;
}

.MiniControlWidget .personas-list .persona-row > .persona-wrapper .label-sect {
    flex-grow: 2;
}


.MiniControlWidget .personas-list:hover .persona-row.active .label,
.MiniControlWidget .personas-list .persona-row .label {
    min-width: 120px;
    word-wrap: break-word;
    margin-left: 10px;
    cursor: pointer;
}

.MiniControlWidget .personas-list:hover .persona-row.active,
.MiniControlWidget .personas-list .persona-row {
    opacity: .3;
    transition: opacity 300ms;
}

.MiniControlWidget .personas-list .persona-row.active,
.MiniControlWidget .personas-list:hover .persona-row:hover {
    opacity: 1;
    transition: opacity 300ms;
}



.MiniControlWidget .persona {
    border-radius: 50%;
    border: 3px solid #00B9F7;
    position: relative;

    background-size: contain;
    background-repeat: no-repeat;
    background-position: center center;

    height: 60px;
    width: 60px;
}



.MiniControlWidget .personas-list .persona-row .FloatingButton,
.MiniControlWidget .personas-list:hover .persona-row.active .FloatingButton {
    opacity: 0;
    transition: opacity 350ms;
    margin-right: 10px;
}

.MiniControlWidget .personas-list .persona-row.active .FloatingButton,
.MiniControlWidget .personas-list:hover .persona-row:hover .FloatingButton {
    opacity: 1;
    transition: opacity 350ms;
}

