

.MiniControlWidget {
    position: fixed;

    bottom: 20px;

    z-index: 4000;

    right: -200px;
    transition: right 1s;
}

.MiniControlWidget .personas-list {
    position: relative;

    display: flex;
    flex-direction: column;
    align-items: center;
}

.MiniControlWidget.minimized {
    right: 20px;
    transition: right 1s;
}

.MiniControlWidget .button-wrapper {
    position: absolute;
    width: 100%;
    text-align: center;
    bottom: -30px;
}

.MiniControlWidget .close-btn-wrapper {
    margin-left: 53px;
    margin-top: 15px;
}


.MiniControlWidget .personas-list .persona-row {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 4px 0;
}

.MiniControlWidget .personas-list .persona-row > .persona-wrapper{
    min-width: 60px;
    display: flex;
    justify-content: center;
    margin-left: 5px;
    cursor: pointer;
}



.MiniControlWidget .personas-list:hover .persona-row.active .label,
.MiniControlWidget .personas-list .persona-row .label {
    min-width: 120px;
    max-width: 120px;
    word-wrap: break-word;
    margin-left: 10px;

    opacity: .3;
    transition: opacity 300ms;
    cursor: pointer;
}

.MiniControlWidget .personas-list .persona-row.active .label,
.MiniControlWidget .personas-list:hover .persona-row:hover .label {
    opacity: 1;
    transition: opacity 300ms;
}



.MiniControlWidget .persona {
    border-radius: 50%;
    border: 3px solid #00B9F7;
    position: relative;

    background-size: contain;
    background-repeat: no-repeat;
    background-position: center center;

    height: 40px;
    width: 40px;
    opacity: .3;
    transition: width 250ms, height 250ms, opacity 250ms;
}

.MiniControlWidget .personas-list:hover .persona-row.active .persona{
    min-height: 40px;
    min-width: 40px;
    opacity: .3;
}


.MiniControlWidget .personas-list .persona-row.active .persona,
.MiniControlWidget .personas-list:hover .persona-row:hover .persona {
    min-height: 60px;
    min-width: 60px;
    opacity: 1;
    transition: width 250ms, height 250ms, opacity 250ms;
}



.MiniControlWidget .personas-list .persona-row .FloatingButton,
.MiniControlWidget .personas-list:hover .persona-row.active .FloatingButton {
    opacity: 0;
    transition: opacity 350ms;
}

.MiniControlWidget .personas-list .persona-row.active .FloatingButton,
.MiniControlWidget .personas-list:hover .persona-row:hover .FloatingButton {
    opacity: 1;
    transition: opacity 350ms;
}


.MiniControlWidget.collapsed .persona {
    width: 60px;
    height: 60px;
    opacity: .3;
}
.MiniControlWidget.collapsed .persona:hover {
    opacity: 1;
}