.PersonaDropdownItem {
  display: flex;
  align-items: center;

  padding: 5px 10px;
  cursor: pointer;
}

.PersonaDropdownItem:hover {
  color: #00B9F7;
}

.PersonaDropdownItem .PersonaAvatar{
  margin-right: 10px;
}

.PersonaDropdownItem .persona-label{
  font-size: 15px;
}

.PersonaDropdownItem .persona-description{
  font-size: 13px;
}