.SidePopup {
  position: absolute;
  top: 0;
  right: 100%;

  background: #152437;
  color: #FFFFFF;

  width: 300px;
  overflow: auto;
  max-height: 90vh;
  min-height: 100%;
}

.SidePopup.popup-bottom {
  display: block;
  right: 0;
  width: 100%;
  top: calc(100% + 1px);
  padding: 20px 0;
}