.StepsControlButtons {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  padding-top: 20px;
  min-height: 40px;
}

.StepsControlButtons button {
  border: none;
  height: 40px;
  width: 90px;

  display: flex;
  align-items: center;
  justify-content: space-around;

  color: #FFFFFF;
  cursor: pointer;
}

.StepsControlButtons .arrow {
  font-size: 25px;
}
.StepsControlButtons .label {
  font-size: 16px;
}

.StepsControlButtons .back-btn {
  background-color: #00659C;
}

.StepsControlButtons .next-btn {
  background-color: #00B9F7;
}
