.PersonaDropdownLarge {
  display: flex;
  align-items: stretch;
  justify-content: space-around;
  flex-basis: 100;
  min-width: 300px;
  position: relative;

  background: #f9f9f9;
  color: #5F6368;

  cursor: pointer;
}

.PersonaDropdownLarge:hover {
  color: #00B9F7;
}

.PersonaDropdownLarge .centered {
  display: flex;
  align-items: center;
  justify-content: center;
}

.PersonaDropdownLarge .chevron-wrapper {
  min-width: 40px;
}

.PersonaDropdownLarge .label-wrapper {
  text-align: right;
  flex-grow: 4;
}
.PersonaDropdownLarge .label-wrapper .DoubleLabel-label {
  font-size: 20px;
}
.PersonaDropdownLarge .label-wrapper .DoubleLabel-description {
  font-size: 13px;
}

.PersonaDropdownLarge .image-wrapper {
  flex-grow: 1;
}

.PersonaDropdownLarge .personas-popup {
  display: block;
  right: 0;
  bottom: 0px;
  top: initial;
  width: 100%;
  padding-top: 20px;

}
