.CloseButton {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 80px;
  height: 80px;
  border-left: 1px solid #5f748f;
}

.CloseButton:hover {
  color: #00b9f7;
}

.CloseButton .fa {
  font-size: 16px;
}
