body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}

::-webkit-scrollbar {
  width: 12px;
}

::-webkit-scrollbar-track {
  border-radius: 10px;
  background-color: #142031;
}

::-webkit-scrollbar-thumb {
  border-radius: 10px;
  box-shadow: inset 0 0 6px rgba(0,0,0,0.5);
  background-color: #00B9F7;
}

button::-moz-focus-inner {
  border: 0;
}
button:focus {
  outline: 0;
}




button.big-blue-btn {
  border: none;
  height: 40px;
  width: 90px;

  display: flex;
  align-items: center;
  justify-content: space-around;

  background-color: #00659C;
  color: #FFFFFF;
  cursor: pointer;

  font-size: 16px;
  line-height: 17px;
  text-transform: uppercase;
}

button.big-blue-btn:hover {
  background-color: #00B9F7;
}

button.big-blue-btn:focus {
  outline: 0;
}

button.big-blue-btn:disabled {
  background: #375667;
  color: #999999;
  cursor: not-allowed;
}
